/*-------------------------
    Simple reset
--------------------------*/


*{
    margin:0;
    padding:0;
}


/*-------------------------
    General Styles
--------------------------*/


html{
    background-color:#ebebec;

    background-image:-webkit-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:-moz-radial-gradient(center, #ebebec, #b4b4b4);
    background-image:radial-gradient(center, #ebebec, #b4b4b4);

    min-height:700px;
}

body{
    font:15px/1.3 Arial, sans-serif;
    color: #007a96;
}

a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/


#biocard{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);
	position: relative;
    width:800px;
    height: 650px;
    padding:30px;
    border-radius:3px;

    margin:50px auto 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#frontimage{
	position: absolute;
	width:377px;
}
#smurfimage{
	position: absolute;
	width:357px;
}
#frontcard{
	width:380px;
	position: absolute;
}
#backimage{
    background-color:#000000;
    background-repeat: no-repeat;
    z-index: 1000;
    width:377px;
    height: 530px;
    position: absolute;
    left: 440px;
}
#optionspanel{
    z-index: 1000;
    width:377px;
    height: 530px;
    position: absolute;
    left: 440px;
}
#backcard{
    width:380px;
    position: absolute;
    left: 440px;
}
#biomask{
    background-image: url('../img/preview_t2017.png');
    background-repeat: no-repeat;
    z-index: 1001;
    width:376px;
    height: 526px;
    position: absolute;
}

#smurfmask{
    background-image: url('../img/ste17v1prev.png');
    background-repeat: no-repeat;
    z-index: 1001;
    width:357px;
    height: 501px;
    position: absolute;
}
#selectedlogo{
	position: absolute;
	left: 255px;
	top: 455px;
}
#textcolor{
    z-index: 999;
    width:376px;
    height: 526px;
    position: absolute;
}
#textcolor2{
    z-index: 999;
    width:357px;
    height: 501px;
    position: absolute;
}
#userimage{
    background-image: url('../img/player_template.jpg');
	-webkit-clip-path: polygon(26px 438px,349px 438px,348px 69px,300px 27px,172px 26px,172px 63px,26px 62px);
	clip-path: url("#clipPolygon");
	background-repeat: no-repeat;
    z-index: 1000;
    width:377px;
    height: 530px;
    position: absolute;
}
#smurfimage2{
    background-image: url('../img/ironman-smurf.jpg');
	background-repeat: no-repeat;
    z-index: 1000;
    width:200px;
    height: 200px;
    position: absolute;
	top:135px;
	left: 80px;
}
#droptext{
    margin-top: 200px;
}
#drop{
    padding: 0px 0px;
    border: 33px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    text-align: center;

    width:320px;
    height: 400px;
    position: absolute;
    z-index: 1002;
    font-size:16px;
    font-weight:bold;
    color:#ffff00;
}
#drop2{
    padding: 0px 0px;
    border: 33px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    text-align: center;

    width:300px;
    height: 400px;
    position: absolute;
    z-index: 1002;
    font-size:16px;
    font-weight:bold;
    color:#ffff00;
}
#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}
#drop a:hover{
    background-color:#0986a3;
}
#drop input{
    display:none;
}

#drop2 a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}
#drop2 a:hover{
    background-color:#0986a3;
}
#drop2 input{
    display:none;
}
#sellogo{
    position: absolute;
    top: 10px;
    left: 20px;
	width:360px;
}
#sellogo h2{
    position: absolute;
	display:inline-block;
	left:120px;
	top:20px;
}
#sellogo select{
    position: absolute;
	display:inline-block;
	left:120px;
	top:50px;
}
#selcolor{
    position: absolute;
    top: 155px;
    left: 50px;
}
#options{
    position: absolute;
    top: 280px;
    left: 40px;
}

#backimage input[type="text"],textarea{
	border:2px ;
    border-style: dashed solid;
	background:inherit;
}
#generate{
    background-color:#007a96;
    color:#fff;
    font-size:14px;
    cursor:pointer;
    display:inline-block;
    margin-top:5px;
    line-height:1;
}
#generate:hover{
    background-color:#0986a3;
}
#upload ul li{
	list-style:none;
    padding:15px;
    height: 52px;
	width:250px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}
#contact{
    position: absolute;
	top:650px;
	left:35%;
	cursor:pointer;
    display:block;
	z-index: 1010;
	width:320px;
	
}

div.tooltips {
  position: relative;
  display: block;
}
div.tooltips span {
  position: absolute;
  width: 250px;
  color: #FFFFFF;
  background: #00257C;
  height: auto;
  line-height: 30px;
  font-size:16px;
  font-weight:bold;
  text-align: left;
  padding-left: 10px;
  visibility: hidden;
  border-radius: 6px;
}
div.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  right: 50%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #00257C;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
div:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 110%;
  left: 5%;
  margin-top: -15px;
  margin-left: 15px;
  z-index: 999;
}
